.title-logo-container {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  margin-bottom: 0px;
  position: relative;
  z-index: 2;
}

.title {
  margin-right: 74%;
  font-size: 50px;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  background: -webkit-linear-gradient(#9f8203, #999892);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-logo-container img {
  max-width: 70px;
  height: auto;
}

.nav {
  display: flex;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 30px; 
  margin-left: 70%;
}

.nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.nav li {
  margin-left: 10px;
}

.nav li a {
  text-decoration: none;
  padding: 10px;
  color: #333;
  border-radius: 4px;
  background-color: #eee;
  transition: background-color 0.3s ease;
}

.nav li a:hover {
  background-color: gray;
}

.nav li a.active {
  background-color: burlywood;
}

.home-container {
  background-image: url('https://images6.alphacoders.com/652/652393.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200vh;
}

.content-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-image {
  max-width: 200px;
  height: auto;
}

.book-details {
  margin-top: 20px;
  text-align: right;
}


/* Search popup styling */
.book-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  height: 100px;
  padding: 1rem;
  background-color: #f2f2f2;
  border-radius: 5px;
  cursor: pointer;
  flex: 0 0 auto;
  margin: 0.5rem;
}

.book-container:hover {
  background-color: #e0e0e0;
}

.book-image {
  max-width: 200px;
  height: auto;
}

.book-title {
  flex-grow: 1;
  margin-right: 1rem;
}

.search-results-container ul {
  padding: 0;
  margin: 0;
  list-style: none;
}


/* Favorites */

.favorites-page {
  background-image: url('https://images7.alphacoders.com/117/1171134.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 160vh;
}

.fav-card {
  background-color: #f2f2f2;
}

.favorites-title{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  color: peru;
  text-decoration: underline;
}


/* Search */
.search-bar {
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

/* Form */
.book-form-title{
  font-size: 2rem;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  color: darkgoldenrod;
  text-decoration: underline double;
}
.form-page {
  background-image: url('https://eschlerediting.com/wp-content/uploads/2015/08/photodune-2173383-book-m-1024x683-1024x683.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 140vh;
}

.form-c {
  font-weight: bold;
  width: 8%;
  text-align: center;
  position: relative;
  text-align: center;
  background: -webkit-linear-gradient(#999011, #b7b6b6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-button {
  margin-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input{
  color: #e0e0e0;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.added-book{
  background-color: white;
}


