.contact-page{
    background-image: url('https://c1.wallpaperflare.com/preview/352/279/653/man-male-hand-holding.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
}

.contact-title {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-decoration: underline burlywood;
    background: -webkit-linear-gradient(#805905, #b7b6b6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  
  .contact-description {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    text-align: justify;
    background: -webkit-linear-gradient(#b6944b, #531d1d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }  

  .call-m{
    color: bisque;
    font-size: 1.2rem;
    background: -webkit-linear-gradient(#28241b, #c7bbbb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }