.section_padding {
    padding: 3rem 3rem;
  }
  
  .footer {
    background: rgb(0,4,4);
background: linear-gradient(0deg, rgba(0,4,4,1) 0%, rgba(184,136,58,1) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .sb_footer {
    display: flex;
    flex-direction: column;
  }
  
  .sb_footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .sb_footer-links-div {
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: 'Cormorant Garamond', serif; 
 }
  
  a {
    color: rgb(175, 175, 179);
    text-decoration: none;
  }
  
  .sb_footer-links-div a:hover {
    transform: scale(1.2); 
    transition: transform 0.3s ease;
    color: black;
  }
  
  .socialmedia {
    display: flex;
    flex-direction: row;
    color: aliceblue;
  }

  .socialmedia a{
    margin-right: 1rem;
  }

  .socialmedia a:hover {
    transform: scale(1.2); 
    transition: transform 0.3s ease;
    color: black;
  }
  
  .sb_footer-links-div p {
    font-size: 14px;
    line-height: 15px;
    margin: 0.5rem 0;
    cursor: pointer;
  }
  
  .sb_footer-below {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.1rem;
  }
  
  
  hr {
    color: white !important;
    width: 100%;
  }
  
  .sb_footer-copyright p {
    font-size: 13px;
    line-height: 15px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-align: center;
  }

  .statem{
    text-decoration: underline double;
    color: goldenrod;
  }
  